#live:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url('../../images/03.jpg');
}

#live-contents {
  display: table;
  position: relative;
  letter-spacing: 2px;
  line-height: 2;
  text-align: left;
  top: 50%;
  width: 80%;
  margin: auto;
  padding: 25px;
  font-size: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Yu Gothic";
}

#live-contents P {
  margin: 20px;
}

/* mobile */
@media screen and (max-width: 767px), (max-height: 400px) {

}

@media screen and (max-width: 767px) {
  #live-contents {
    top: 40%;
  }
}

@media screen and (max-height: 400px) {
  #live-contents {
    top: 30%;
  }
}
