#top:before {
  content: '';
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
  filter: brightness(100%);
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../../images/01.jpg');
}

.logo {
  position: absolute;
  word-break: break-word;
  top: auto;
  bottom: 10%;
  left: 6%;
  font-size: 10rem;
  font-weight: 600;
  line-height: 1.125;
  color: white;
}

@media screen and (max-width: 1023px) {
  .logo {
    top: auto;
    bottom: 20%;
    left: 6%;
    right: auto;
    font-size: 24vw;
    font-size: 12vmax;
  }

  @media screen and (max-height: 500px) {
    .logo {
      bottom: 0;
    }
  }
}